target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
.eclipse/
.settings/
.classpath
.project

# Environment
.env
application-local.properties
application-prod.properties
